*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    padding: 40px;
}

.form-container{
    width: 60%;
    background-color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    z-index: 55;
    left: 40px;
    top: 20%;
}
 
.sign-up-form{
    transform: scale(0.9);
    width: 100%;
}

.sign-up-form h2{
    margin-bottom: 1.5rem;
    color:   #333;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-group input{
    width: 48%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover{
    background-color: #218838;
}

.image-container{
    height: 95vh;
    width: 60%;
    float: right;
    margin-left: 40%;
    background-color: #001F84;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    line-height: 10px;
    align-items: center;
    padding: 1rem;
    text-align: right;
}

.image-text{
    margin-right: 20px;
}

.image-container img{
    margin-bottom: 1rem;
    padding-right: 50px;

}

.image-container p{
    font-size: 1.25rem;
    font-family:'Times New Roman', Times, serif;
    padding-right: 50px;
}

@media(max-width:768){
    .container{
        flex-direction: column;
        position: static;
    }

    .form-group{
        flex-direction: column;
    }

    .form-group input{
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-group input:last-child{
        margin-bottom: 1rem;
    }
}